[tts]
# options: gTTS,pico2wave,mute
engine = gTTS

[gallery]
# full path to gallery
path = 

[email]
host = 
username = 
password =

[newspaper]
# comma separated list of newspaper
# available: zeit
selected = 
